.avatarImg {
  width: 60px;
  border-radius: 50%;
  background-color: aliceblue;
  /* overflow: hidden; */
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 13px;
}

.menu {
  font-size: 2.5rem;
}

.img {
  border-radius: 50%;
}

.sideBar {
  background-color: whitesmoke;
  height: 100%;
  width: 70vw;
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  box-shadow: 3px 0 18px rgba(0, 0, 0, 0.3);
}

.topLogoWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 10px 18px 15px;
  color: white;
  /* background-color: #6bcb77; */
  background-color: var(--color-orange);
}

/* .mainLogo {
  color: #ffffff;
} */

.menuList {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  gap: 5px;
}

.logOut {
  margin: auto auto 30px;
  width: 80%;
  text-align: center;
  padding: 9px 5px;
  font-size: 1.2rem;
  color: white;
  /* background-color: #3255e1; */
  background-color: var(--color-orange);
  border-radius: 5px;
}
