/* basic STyles */
.skeleton {
  background-color: #ddd;
  margin: 10px 0;
  border-radius: 7px;
}

.text,
.shortText,
.littleText {
  width: 100%;
  height: 18px;
  background-color: #5c9764;
}

.shortText {
  width: 60%;
}

.subtext {
  width: 30%;
  height: 12px;
  margin-top: 16px;
  background-color: #5c9764;
}

.littleText {
  width: 40%;
  margin-bottom: 6px;
}

.title,
.bigTitle {
  width: 100%;
  height: 30px;
  margin-bottom: 15px;
  background-color: #5c9764;
}

.bigTitle {
  margin-bottom: 25px;
  width: 50%;
}

.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #5c9764;
}

.card {
  width: 100%;
  border-radius: 7px;
}

.body {
  padding: 77px 0;
}

.card {
  padding: 18px;
  background-color: #75ae7c;
  border-radius: 9px;
  margin: 24px 0;
  position: relative;
  overflow: hidden;
}
