/* Modals */
.modal {
  min-height: 300px;
  width: 90%;
  /* background-color: var(--color-green); */
  background-color: aliceblue;
  z-index: 999;
  border-radius: 7px;
  position: relative;
  padding: 60px 25px 45px;
  box-shadow: 0 3px 19px rgba(0, 0, 0, 0.282);
}

.backDrop {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 998;
  backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.582);
}

.cross {
  font-size: 2.7rem;
  position: absolute;
  top: 8px;
  right: 8px;
}
