:root {
  --color-orange: #ff6b6b;
  --color-green: #6bcb77;
  --color-blue-primary: #3255e1;
  --color-blue-secondary: #4d96ff;
  --color-yellow: #ffd93d;
  --color-body: #90d098;
  --color-card-1: #f47340;
  --color-card-2: #f9d371;
  --color-card-3: #6a5495;
  --color-card-4: #086e7d;
  --color-card-hour: #a21515;
}

html,
body {
  font-family: 'Nunito', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
  height: 100%;
}

.wrapper {
  width: 90%;
  max-width: 1600px;
  margin: 0 auto;
}

img {
  width: 100%;
}
body {
  background-color: var(--color-body);
  color: #000551;
}

main {
  margin-top: 20px;
  min-height: 100%;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 1.3rem;
}

p {
  font-size: 1.3rem;
}
