html,
body {
  font-family: 'Nunito', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
  height: 100%;
}

.wrapper {
  width: 90%;
  max-width: 1600px;
  margin: 0 auto;
}

img {
  width: 100%;
}
body {
  background-color: #90d098;
  color: #000551;
}

main {
  margin-top: 20px;
  min-height: 100%;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 1.3rem;
}

p {
  font-size: 1.3rem;
}
