.addBtn {
  background-color: #ff6b6b;
  width: 53px;
  height: 53px;
  position: fixed;
  bottom: 30px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 3rem;
  color: white;
  box-shadow: 2px 3px 18px rgba(0, 0, 0, 0.3);
  transition: all 0.3s;
}
.addBtn:active {
  background-color: #e35757;
}
.flexWrapper {
  /* display: flex;
  flex-direction: column;
  gap: 20px; */
  padding: 77px 0px;
}

.loading {
  text-align: center;
  opacity: 0.6;
  width: 80%;
  margin: 46vh auto 0;
}

.header {
  /* text-align: center; */
  position: relative;
  width: fit-content;
  margin: 0 10px 25px;
  font-size: 1.6rem;
}

.header::after {
  content: '';
  height: 3px;
  display: block;
  background-color: cadetblue;
  position: absolute;
  bottom: -5px;
  left: 5px;
  right: 14px;
}

.priorityParts {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 37px;
}
