.infoPage {
  padding: 77px 0px;
}

.infoBox {
  padding: 15px 20px;
  border-left: 10px solid #1a6740;
  background-color: #46b854;
  color: aliceblue;
}

.name {
  font-size: 2rem;
  font-weight: 600;
}

.deleteBtn,
.addBtn {
  color: white;
  padding: 6px 5px 6px 0px;
  border-radius: 9px;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  transition: all 0.3s ease-in-out;
}

.deleteBtn {
  background-color: rgb(197, 24, 24);
  border-bottom: 2.3px solid rgb(130, 5, 5);
  width: 100px;
}

.addBtn {
  background-color: var(--color-blue-primary);
  border-bottom: 2.3px solid rgb(0, 0, 135);
  width: 140px;
}

.deleteBtn:active {
  background-color: rgb(159, 27, 27);
}

.addBtn:active {
  background-color: rgb(17, 44, 177);
}

.backBtn {
  position: fixed;
  bottom: 30px;
  right: 20px;
  background-color: var(--color-orange);
  padding: 7px 20px 7px 10px;
  display: flex;
  align-items: center;
  color: white;
  font-size: 1.3rem;
  border-radius: 30px;
  font-weight: 600;
  box-shadow: 2px 3px 18px rgba(0, 0, 0, 0.3);
  transition: all 0.3s;
}

.backBtn:active {
  background-color: #e35757;
}

.btnWrapper {
  display: flex;
  gap: 12px;
  margin-top: 10px;
}

.note {
  padding: 30px;
  background-color: #afdbb7;
  margin-top: 10px;
}
