.infoPage {
  padding: 77px 0px;
}

.infoBox {
  padding: 25px 25px 20px 20px;
  border-left: 10px solid #1a6740;
  background-color: #ffffff;
  position: relative;
  border-radius: 0 10px 10px 0;
}

.name {
  font-size: 2rem;
  font-weight: 600;
  line-height: 33px;
  margin-bottom: 7px;
}

.planBtn,
.addBtn {
  color: white;
  padding: 6px 5px 6px 0px;
  border-radius: 9px;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  transition: all 0.3s ease-in-out;
}

.planBtn {
  background-color: #6a5495;
  border-bottom: 2px solid #533e7a;
  width: 160px;
}

.addBtn {
  background-color: var(--color-blue-primary);
  border-bottom: 2px solid #2240b6;
  width: 140px;
}

.planBtn:active,
.wishBtn:active {
  background-color: #5b4784;
}

.addBtn:active,
.shuffleBtn:active {
  background-color: rgb(17, 44, 177);
}

.backBtn {
  position: fixed;
  bottom: 30px;
  right: 20px;
  background-color: var(--color-orange);
  padding: 7px 20px 7px 10px;
  display: flex;
  align-items: center;
  color: white;
  font-size: 1.3rem;
  border-radius: 30px;
  font-weight: 600;
  box-shadow: 2px 3px 18px rgba(0, 0, 0, 0.3);
  transition: all 0.3s;
}

.backBtn:active {
  background-color: #e35757;
}

.btnWrapper {
  display: flex;
  gap: 12px;
  margin-top: 15px;
}

.note {
  padding: 15px;
  background-color: #b4debc;
  margin-top: 10px;
  border-radius: 10px;
  font-size: 1rem;
  min-height: 75px;
  opacity: 0.7;
}

.delete,
.deleteWait {
  position: absolute;
  font-size: 2rem;
  top: 6px;
  right: 5px;
}

.delete {
  color: #d93838;
}

.deleteWait {
  color: #f87070;
}

.sound,
.nosound {
  position: absolute;
  font-size: 2rem;
  bottom: 6px;
  right: 5px;
}

.nosound {
  color: rgb(176, 176, 176);
}

.wishesWrapper {
  margin: 40px 0;
}

.wishes {
  padding: 30px;
  /* background-color: white; */
  margin: 15px auto 20px;
  border-radius: 7px;
  background: rgb(9, 172, 205);
  background: linear-gradient(
    90deg,
    rgba(9, 172, 205, 1) 0%,
    rgba(138, 91, 221, 1) 100%
  );
  box-shadow: 12px 12px 16px 0 rgb(0 0 0 / 20%),
    -8px -8px 12px 0 rgb(164 237 173);
  min-height: 70px;
}

.wishesPara {
  font-size: 1.2rem;
  color: #1c0864;
}
.select {
  padding: 6px 10px;
  border-radius: 9px;
  font-size: 1.2rem;
  background-color: transparent;
  border: 1px solid #000551;
  width: 100px;
  color: #000551;
}
.select:focus {
  outline: none;
}
.wishBtnWrapper {
  display: flex;
  gap: 10px;
  /* align-items: stretch; */
}

.wishBtn,
.shuffleBtn {
  padding: 6px 2px;
  font-size: 1.18rem;
  border-radius: 9px;
  color: white;
  transition: all 0.3s ease-in-out;
}

.shuffleBtn {
  width: 90px;
  background-color: var(--color-blue-primary);
  border-bottom: 1.5px solid #2240b6;
}

.wishBtn {
  width: 115px;
  background-color: #6a5495;
  border-bottom: 1.5px solid #533e7a;
}

.audio {
  display: none;
}
