.search {
  padding: 77px 0;
}
.form {
  display: flex;
  gap: 16px;
}
.input {
  padding: 13px 20px;
  text-transform: lowercase;
  width: 100%;
  margin: 10px auto;
  display: flex;
  border: none;
  font-size: 1.3rem;
  border-radius: 7px;
  background-color: #c9e2f3;
  box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.15);
  color: #343434;
}

.input:focus {
  outline-color: rgb(13, 111, 37);
}

.input::placeholder {
  color: #ababab;
}

.searchListWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #c5d8e4;
  padding: 30px 20px;
  margin-top: 35px;
  border-radius: 7px 7px 0 0;
}

.userCard {
  background-color: #72b996;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  gap: 15px;
  border-radius: 7px;
  box-shadow: 3px 3px 18px -2px rgba(0, 0, 0, 0.25);
}

.avatarImg {
  width: 50px;
  height: 50px;
}

.img {
  border-radius: 50%;
}

.name {
  font-weight: 600;
}
